@import "assets/flags/flags.min.css"; 

html,
body,
#root {
    height: 100%;
    min-height: 100%;
}
.text-center {
    text-align: center;
}

.no-overflow {
    overflow: hidden !important;
    outline: none !important;
}

.no-overflow:focus {
    outline: none !important;
}

.tippy-popper {
    max-width: initial !important;
}

.center-align-data {
    text-align: center;
    min-height: 100px;
    height: 100px;
}

.text-styling {
    text-transform: capitalize;
    font-weight: 500;
    color: grey;
    font-size: 16px;
    letter-spacing: 1px;
}

.thead-styling {
    background: #2687ff;
    color: white;
    font-size: 13px;
    font-weight: lighter !important;
    font-family: lato;
}
.thead-styling:hover {
    background: #2687ff;
}

.cursor-pointer {
    cursor: pointer;
}

.react-select-full-height, .react-select-full-height__control, .react-select-full-height__value-container, .react-select-full-height__multi-value {
    max-height: none !important;
    height: auto !important;
}

.form-field {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.date-picker-input .MuiFilledInput-root {
    color: #212529;
    background: rgb(235,237,239) !important;
    border: none !important;
    border-radius: 8px;
}

.MuiFormControl-root.form-field .MuiInputBase-root {
    min-height: 2.5rem;
}

.MuiFormControl-root.form-field .MuiAutocomplete-inputRoot {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.MuiFormControl-root.form-field .MuiFilledInput-root {
    background: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.MuiFormControl-root.form-field .MuiFilledInput-root::before,
.MuiFormControl-root.form-field .MuiFilledInput-root::after {
    display: none;
}

.MuiFormControl-root.form-field .MuiOutlinedInput-root legend {
    width: auto;
}

.MuiTablePagination-displayedRows, .MuiTablePagination-selectLabel {
    margin-bottom: 0;
}

.MuiSvgIcon-root {
    margin-bottom: 0 !important;
}
